.contact{
    /* width: 100px; */
    background-color: rgb(59, 58, 58);
    width: 40rem;
    /* margin: 10px; */
    margin: auto;
    padding: 10px;
    border-radius: 10px;


}
.input{
    margin-top: 10px;
}
.button{
    margin-top: 10px;
    padding-left: 250px;
   
}
.box{
    background-color: white;
    height: 100vh;
    padding-top: 20px;
}

.field{
    background-color: rgb(238, 232, 232);
    border: 0.1px solid black;
}
    